.gitignore
nbproject/
nbproject/*
nbproject*
nbproject/project.properties
bkpAll.php
sql_atualizacoes.php
to_do.html
jogadores/
files/
nbproject*
jogadores/*
files/*
*desktop.ini
config.php
notas.txt


